.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-container h3 {
  margin: 12px;
}

.cart-item-card {
  display: flex;
  margin: 12px;
  align-items: center;
}

.cart-item-card h5 {
  font-size: 1em;
  margin: 0;
}

.cart-item-card img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 7px;
}

.product-details {
  margin-left: 12px;
  width: 100%;
}

.product-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}

.product-quantity {
  display: flex;
}

.remove-button {
  background-color: transparent;
  border: none;
  color:  rgb(118, 173, 150);
  font-size: .7em;
  font-weight: bold;
}

.subtotal {
  display: flex;
  margin: 12px;
  font-weight: bold;
  justify-content: end;
}

.subtotal div {
  padding-left: 12px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
}

.cart-header img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 7px;
}

.close-button {
  background: transparent;
  border: none;
}

.checkout-button {
  background-color:rgb(118, 173, 150);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 24px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 12px;
  width: 100%;
}

.checkout-link {
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.checkout-button:hover {
  cursor: pointer;
  background-color: rgb(64, 112, 92);
}