.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-container h1 {
  font-family: LogoFont, sans-serif;
  font-size: 2.5em;
  margin: 6px;
  margin-bottom: 0;
}

a {
  color: rgb(64, 112, 92);
  text-decoration: none;
}

.header-links a {
  font-size: 1.1em;
  color: rgb(64, 112, 92);
  text-decoration: none;
  transition: transform 0.2s;
}

.header-links a:hover {
  transform: scale(1.1);
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 12px;
}

.header-links img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.cart-button {
  background: transparent;
  border: none;
  color: rgb(64, 112, 92);
  transition: transform 0.2s;
}

.cart-button:hover {
  transform: scale(1.1);
}
