.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-container img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.cart-button {
  background: transparent;
  border: none;
  color: rgb(64, 112, 92);
}

