.home-container img {
  max-width: 100%;
  margin: 0;
  filter: brightness(75%);
}

.home-container h1 {
  margin: 12px;
}

.home-image-div {
  position: relative;
  text-align: center;
}

.image-text {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.shop-plants-button {
  background-color: white;
  color: rgb(64, 112, 92);
  padding: 6px 12px;
  border: solid white 2px;
  border-radius: 24px;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
}

.shop-plants-button:hover {
  cursor: pointer;
  opacity: 85%;
}