.product-card {
  max-width: 15em;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 5px 5px #e1e1e1;
  border-radius: 7px;
  margin: 12px;
}
.product-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
}
.product-card h4 {
  margin: 0.5em 0;
}
.product-info-div {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.qty-div {
  display: flex;
  align-items: center;
  border: 1px solid rgb(118, 173, 150);
  border-radius: 24px; 
  margin-right: 6px;
  padding-left: 4px;
  padding-right: 4px;
}

.qty-button {
  background: none;
  border: none;
  font-size: 1em;
  color:#40705c
}

.qty-input {
  display: flex;
  border: none;
  font-size: .75em;
  padding-left: 4px;
  padding-right: 4px;
}

.add-to-cart-button {
  background-color:rgb(118, 173, 150);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 24px;
  font-size: .75em;
}

.add-to-cart-button:hover {
  cursor: pointer;
  background-color: rgb(64, 112, 92);
}

button:hover {
  cursor: pointer;
}
