:root {
  font-family: BodyFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-family: BodyFont, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: rgb(64, 112, 92);
}

button {
  font-family: BodyFont, sans-serif;
}

@font-face {
  font-family: 'LogoFont';
  src: url('./fonts/ClassicalDiary-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BodyFont';
  src: url('./fonts/Mollen-Narrow.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BodyFont-Bold';
  src: url('./fonts/Mollen-BoldNarrow.otf');
  font-weight: 600;
  font-style: normal;
}

